*{
    margin: 0;
    padding: 0;
}

body{
    box-sizing: border-box;
    background-color: #03023b;
}

button{
    padding: 10px 30px;
    border-radius: 10px;
    color: rgb(0, 0, 0);
    margin: 10px;

}

button.active{
    background: #000;
    color: #fff;
}

.tab-content{
    border: 0px solid;
    display: none;
    margin: 20px;
}

.mer{
    margin-top: 10px;
}

.premier-plan{
    background-color: #A7C7E7;
    margin: 0 500px;  
    min-height: 100vh;  
}

.barre{
    margin: 20px;
    height: 5px;
    background-color: black;
}

.mise-en-page{
    margin: 20px;
    
}

td{
    border: 1px solid black;
    padding: 10px;
}

th{
    border: 1px solid black;
    padding: 10px;
}

table{
    border-collapse: collapse
}

.partie_bouton{
    display: flex;
    flex-wrap: wrap;      
    gap: 10px;
}

.image{
    height: 400px;
    width: 600px;
}

.image2{
    height: 400px;
    width: 700px;
}

.image3{
    height: 400px;
    width: 550px;
}